# Git
.git
.gitignore

# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel

# Build
/build
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.*
!.env.example

# Testing
/coverage

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# Docs
*.md
LICENSE

# Docker
Dockerfile
.dockerignore

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
